.img-zoom{
	width: 402px;
	height: 511px;
}
.title-detail-product{
	font-size: 2.5em;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
}
.price-product {
    display: flex;
    justify-content: space-evenly;
}
.price-product span{
	font-weight: normal;
    font-size: 1.5rem;
}
span.intial-product {
    text-decoration: line-through;
    color: #111;
    opacity: .6;
}
span.current-product {
    color: #b70000;
}
i.unit-money {
    text-decoration: underline;
    margin-left: 5px;
    font-size: .60em;
    vertical-align: top;
}
.name-distortion {
    color: #222;
    font-size: .9em;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 10px;
}
.all-distortion{
	display: flex;
	gap: 30px;
	margin-bottom: 10px;
}
.distortion-color-one{
	height: 40px;
    width: 35px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px black solid;
}
.distortion-size .all-distortion div {
    border-radius: 50%;
    border: 1px black solid;
    width: 30px;
}
.suggestion-size{
	display: flex;
	gap: 15px;
}
.suggestion-size a {
    color: black;
}
.amount-product{
	display: flex;
	align-items: center;
}
div.amount {
    font-size: 15px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
}
.decrease-and-indecrease{
	display: flex;
    align-items: center;
    margin-left: 40px;
	gap: 10px;
}
.decrease-and-indecrease button {
    font-size: 20px;
    border: none;
    background-color: #edece8;
    width: 30px;
    text-align: center;
}
.decrease-and-indecrease button:hover{
	background-color: #807e79;
}
.add-and-pay-product{
	display: flex;
	margin-top: 40px;
    justify-content: space-between;
}
.add-and-pay-product div{
	width: 270px;
	padding: 15px
}
.add-to-cart{
	color:white;
	background-color: green;
}
.pay-now{
	color:white;
	background-color: red;
}
.promotion{
	line-height: 20px;
	text-align: left;
	margin-top: 20px;
}
.title-promotion {
    font-size: 15px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    color: #fc1414;
}
.promotion span {
    display: block;
}