.name{
  margin-bottom:1rem;
}
.name label{
  width: 5%;
}
.name input{
  width: 95%;
  height: 35px;
}
.price-and-date-use{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.label-of-upload-product{
  font-family: fantasy;
}
.show-img{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.box-img {
  width: 8%;
  height: 64px;
  border-color: black;
  border-width: 1px;
  border: solid;
}
.box-img div{
  position: relative;
}
.img-product{
  width: 100%;
  height: 100%;
}
.icon-delete{
  background-image: url("http://localhost:3000/images/icon/remove.svg");
  position: absolute !important;
  right: 3%;
  width: 25%;
  height: 25%;
  background-repeat: round;
}
.change-img{
  background-image: url("http://localhost:3000/images/icon/change.svg");
  position: absolute !important;
  right: 3%;
  width: 25%;
  height: 25%;
  background-repeat: round;
  border: 1px black solid;
  background-color: greenyellow;
  top:30%;
}
.img-upload{
  height: 100%;
  background-repeat: round;
}
.vd-demo{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.upload {
  flex-grow: 1;
}
.link {
  flex-grow: 40;
}
.link input{
  width: 88%;
  height: 35px;
}
.btn-submit{
  text-align: right;
  margin: 1rem 0 0 0.5rem;
}
.btn-submit button{
  width: 10%;
  height: 40px;
}