.newProduct{
    display: flex;
    flex-wrap: wrap;
}
.img-custom{
    height: 620px;
}
.box-image{
	height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.box-image-before{
	background-image: url('../../images/list-img-product/polo-black01.png');
}
.box-image-after{
	background-image: url('../../images/list-img-product/polo-black02.jpg');
}

.box-price-and-text{
	height: 200px;
    line-height: 25px;
}
.title-product{
	font-size: .9em !important;
}
.price{
	display: flex;
    justify-content: center;
    gap: 20px;
}
.current-price{
    color: #e01414;
    font-weight: 700;
	
}
.initial-price{
	color: #a8a69e;
    text-decoration: line-through;
}
.unit {
    text-decoration: underline;
    font-weight: bold;
    font-size: smaller;
    margin-left: 3px;
}
.button-function {
    display: flex;
    justify-content: space-evenly;
}
.box1 {
    height: 30px;
    width: 105px;
    background-color: #3acf3f;
    border-radius: 3%;
    color: white;
}
.box2 {
    color: white;
    width: 100px;
    height: 30px;
    background-color: #cf3a44;
    border-radius: 3%;
}