.imgOne{
	background: url(../../images/one.png);
}
.imgTwo{
	background: url(../../images/two.png);
}
.imgThree{
	background: url(../../images/three.png);
}
.imgFour{
	background: url(../../images/four.png);
}
.imgFive{
	background: url(../../images/five.png);
}
.imgSix{
	background: url(../../images/six.png);
}
.img-slideShow{
	height:600px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}