.BarInformationBasic{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	background-color: #232323;
	color:white;
}
.DivBackLink{
	display: flex;
	flex-direction: row-reverse;
}
.BackLink{
	margin: 3px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}
.DivTextRun{
	font-size: 12px;
}
