.searchBox {
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    margin-right: 30px;
    position: absolute;
    top: 16%;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}
.sticky-top{
    background-color: white !important;
    opacity: 0.95 !important;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
}
/* @media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 0px;
    }
} */
.logo-hqpolo{
    width: 200px;
    height: 90px;
}
.cart{
    background-color: #495363;
    border-radius: 50%;
    padding: 10px 10px;
}
.div-cart-and-search-box{
    display: flex;
    flex-direction: row-reverse;
    margin: 15px;
}
.DropDownMenu{
    border-color: #bac6d9;
    box-shadow: 0.7px 1px #b4b9c2;
}
.dropdown-item a{
    color: rgba(0,0,0,.55);
    text-decoration: none;
}
.dropdown-item a:hover{
    text-decoration: none;
}
.nav-item a{
    color: rgba(0,0,0,.55);
    text-decoration: none;
}
.nav-item a:hover{
    text-decoration: none;
}
.nav-custom-again{
    padding-top: 8px;
}
.BarInformationBasic{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: #232323;
    color:white;
}
.DivBackLink{
    display: flex;
    flex-direction: row-reverse;
}
.BackLink{
    margin: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.DivTextRun{
    font-size: 12px;
}

/*==========================================*/


@media only screen and (min-width: 410px) and (max-width: 415px) {
    .logo-hqpolo{
        width: 70px;
        height: 90px;
    }
}
