.slick-prev{
	border: 1px solid red !important;
	z-index: 100;
    left: 10px !important;
    background-color:black !important;
}
.slick-next{
	right: 10px !important;
    border: 1px solid green !important;
    background-color:black !important;
}
.slick-detail-product .slick-list .slick-track div.slick-slide div .img{
    border: 1px solid black;
    width: 112px !important;
    height: 133px !important;
    border-radius: 3%;
    background-repeat: round;
}
.slick-detail-product .slick-list .slick-track div.slick-slide div .img-1{
	background-image: url("../../images/list-img-product/polo-black-rim01.png");
}
.slick-detail-product .slick-list .slick-track div.slick-slide div .img-2{
	background-image: url("../../images/list-img-product/polo-black-rim02.jpg");
}
.slick-detail-product .slick-list .slick-track div.slick-slide div .img-3{
	background-image: url("../../images/list-img-product/polo-black-rim03.jpg");
}
.slick-detail-product .slick-list .slick-track div.slick-slide div .img-4{
	background-image: url("../../images/list-img-product/polo-black-rim04.jpg");
}
.slick-detail-product .slick-list .slick-track div.slick-slide div .img-5{
	background-image: url("../../images/list-img-product/polo-black-rim05.jpg");
}
