.slick-prev{
	border: 1px solid red !important;
	z-index: 100;
    left: 10px !important;
    background-color:black !important;
}
.slick-next{
	right: 10px !important;
    border: 1px solid green !important;
    background-color:black !important;
}
.Slick01 .slick-list .slick-track div.slick-slide div .img {
    border: 1px solid black;
    width: 610px !important;
    height: 275px !important;
    border-radius: 3%;
    background-repeat: round;
}
.Slick01 .slick-list .slick-track div.slick-slide div .img-1{
	background-image: url("http://localhost:3000/images/slick01/img-one.jpg");
}
.Slick01 .slick-list .slick-track div.slick-slide div .img-2{
	background-image: url("http://localhost:3000/images/slick01/img-two.jpg");
}
.Slick01 .slick-list .slick-track div.slick-slide div .img-3{
	background-image: url("http://localhost:3000/images/slick01/img-three.jpg");
}
.Slick01 .slick-list .slick-track div.slick-slide div .img-4{
	background-image: url("http://localhost:3000/images/slick01/img-four.jpg");
}
.Slick01 .slick-list .slick-track div.slick-slide div .img-5{
	background-image: url("http://localhost:3000/images/slick01/img-five.jpg");
}
