.Slick03 .slick-prev{
	border: 1px solid red !important;
	z-index: 100;
    left: 10px !important;
    background-color:black !important;
    top: 30%;
}
.Slick03 .slick-next{
	right: 10px !important;
    border: 1px solid green !important;
    background-color:black !important;
    top: 30%;
}
.Slick03 .slick-list .slick-track .slick-slide{
    padding-bottom: 200px;
}
.slick-center div .img-slick03 {
    display: inline-block;
    height: 430px !important;
    width: 240px !important;
    margin-top: 0px;
}
.img-slick03{
    border-radius: 3%;
    background-repeat: round;
    width: 220px !important;
    height: 400px !important;
    object-fit: cover;
    margin-top: 15px;
    position: relative;
}
.img-slick03 div{
    position: absolute;
    bottom: -190px;
}
.img-1-slick03{
	background-image: url("http://localhost:3000/images/feedback/img01.jpg");
}
.img-2-slick03{
	background-image: url("http://localhost:3000/images/feedback/img02.jpg");
}
.img-3-slick03{
	background-image: url("http://localhost:3000/images/feedback/img03.jpg");
}
.img-4-slick03{
	background-image: url("http://localhost:3000/images/feedback/img04.jpg");
}
.img-5-slick03{
    background-image: url("http://localhost:3000/images/feedback/img05.jpg");
}
.img-6-slick03{
    background-image: url("http://localhost:3000/images/feedback/img06.jpg");
}